<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ASP.NET</title>
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

	<nav class="menu-bar">
		<div class="group">
			<a class="item title">Site Title</a>
		</div>
		<div class="group">
			@if (User.Identity.IsAuthenticated)
			{
				<a asp-page="Logout" asp-route-returnUrl="@Context.Request.Path" class="item">Logout</a>
			}
		</div>
	</nav>
</head>
<body>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer class="footer-distributed">
		<div class="footer-left">
			<p class="footer-links">
				<a class="link-1" href="#">Home</a>

				<a href="#">About</a>

				<a href="#">Contact</a>
			</p>

			<p>myProject &copy; 2022</p>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>