@page
@model ASP.NET.Pages.RegisterModel
@{
}
  <body> 
      <div class="container">
          <form method="post">
            <div class="text-danger" asp-validation-summary=ModelOnly></div>
          <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr />

        <label asp-for="RegisterForm.FirstName">First name</label>
        <span class="text-danger" asp-validation-for="RegisterForm.FirstName"></span>
        <input asp-for="RegisterForm.FirstName" class="form-control" />

        <label asp-for="RegisterForm.LastName">Last name</label>
        <span class="text-danger" asp-validation-for="RegisterForm.LastName"></span>
        <input asp-for="RegisterForm.LastName" class="form-control" />

        <label asp-for="RegisterForm.Email">Email</label>
        <span class="text-danger" asp-validation-for="RegisterForm.Email"></span>
        <input type="text" asp-for="RegisterForm.Email" class="form-control"/>

        <label asp-for="RegisterForm.Password">Password</label>
        <span class="text-danger" asp-validation-for="RegisterForm.Password"></span>
        <input asp-for="RegisterForm.Password" class="form-control"/>

        <label asp-for="RegisterForm.RepeatPassword">Repeat passwoed</label>
        <span class="text-danger" asp-validation-for="RegisterForm.RepeatPassword"></span>
        <input asp-for="RegisterForm.RepeatPassword" class="form-control"/>

        <hr />
        <div style="text-align:center;">

        <input type="submit" class="registerbtn" value="Register">
        <div class="container signin">
          <p>Already have an account?<a asp-area="" asp-page="/Index">Sign in</a>.</p>
      </div>
      </div>
      </form>
      </div>
  </body>