@page
@model WebApp.Pages.LogoutModel
@{
	ViewData["Title"] = "Logout";
	string url = Model.ReturnUrl ?? "/Index";
}
<form method="post">
	<div class="container">
		<div class="row justify-content-center">
			<p>Are you sure you want to logout?</p>
			<p>
				<button class="btn" id="logout-btn" asp-page-handler="Logout">Yes</button>
				<button class="btn" id="logout-btn" asp-page="@url">No</button>
			</p>
		</div>
	</div>
</form>

