@page
@model WebApp.Pages.LogoutModel
@{
	string url = Model.ReturnUrl ?? "/Index";
}
<form method="post">
	<div class="container">
		<div class="row justify-content-center">
			<p>Are you sure you want to logout?</p>
			<p>
				<button class="btn"  asp-page-handler="Logout">Yes</button>
				<a class="btn" asp-page="@url">No</a>
			</p>
		</div>
	</div>
</form>

