@page
@model ASP.NET.Pages.QuestionModel
@{
}
<body>
	<div class="container">
		<form method="post">
			<div style="text-align:center;">
				@for (var i = 0; i < Model.question.QuestionManager.GetAllQuestions().Count; i++)
				{
					@if (Model.question.QuestionManager.GetAllQuestions()[i] is not null)
					{
						<h1>@Model.question.QuestionManager.GetAllQuestions()[i].Description</h1>
						<hr />
						@foreach (var answer in Model.question.answerManager.GetGetAllAnswersForQuestion(Model.question.QuestionManager.GetAllQuestions()[i]))
						{
							<input type="submit" class="btn" value="@answer.Description" name="answers"/>
						}
						<hr />
					}
				}

			</div>
		</form>
	</div>
</body>