@page
@model ASP.NET.Pages.QuestionModel
@{
}
<body>
	<div class="container">
		<div style="text-align:center;">
			<h1>@Model.question.QuestionManager.GetAllQuestions()[@Model.index].Description</h1>
			<hr />
			<form method="post" id="answer-form">
			<input asp-for="AnswerID" type="hidden" id="answer-input" class="btn" />
			<script>
				const submitAnswer = (answerId) => {
					const input = document.getElementById("answer-input")
					const form = document.getElementById("answer-form")
					input.nodeValue = answerId
					form.submit()
				}
			</script>
			@foreach (var answer in Model.question.answerManager.GetGetAllAnswersForQuestion(Model.question.QuestionManager.GetAllQuestions()[@Model.index]))
			{
					<button class="btn" onclick="submitAnswer(@answer.ID)">@answer.Description</button>
			}
			</form>
			
			<hr />
		</div>
	</div>
</body>