@page
@model ASP.NET.Pages.UsersViewModel
@{
}
<body>
	<div class="container">
		<form method="post">
			<div style="text-align:center;">
				<table>
					<tr>
						<th>ID</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Email</th>
					</tr>
					@foreach (var user in Model.UserView.UserManager.GetAllUsersForView())
					{
						<tr>
							<td>@user.ID</td>
							<td>@user.FirstName</td>
							<td>@user.LastName</td>
							<td>@user.Email</td>
						</tr>
					}
				</table>
			</div>
		</form>
	</div>
</body>
