* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
    display: flex;
    justify-content: center;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    input[type="text"]:focus,
    input[type="password"]:focus {
        background-color: #ddd;
        outline: none;
    }

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.btn {
    text-align: center;
    background-color: #0011ff;
    color: white;
    padding: 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    font-family: Arial;
    font-size: 1.1em;
}

a.btn{
    text-decoration: none;
    display: block; 
}

.fullwidth{
    width: 100%;
    height: 1em;
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbtn:hover {
    opacity: 2;
}

.register {
    background-color: #f1f1f1;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px 15px;
}

th {
    background-color: #0011ff;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f3f3f3;
}

.menu-bar {
    background-color: #0011ff;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.item {
    color: white;
    background-color: transparent;
    font-size: 1.5em;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
}

    .item.title {
        font-weight: 600;
    }

    .item:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }


section {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}

.footer-distributed {
    background-color: #0011ff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 25px 50px;
    margin-top: auto;
}

    .footer-distributed .footer-left p {
        color: #8f9296;
        font-size: 14px;
        margin: 0;
    }
    /* Footer links */

    .footer-distributed p.footer-links {
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        margin: 0 0 10px;
        padding: 0;
        transition: ease .25s;
    }

        .footer-distributed p.footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
            transition: ease .25s;
        }

    .footer-distributed .footer-links a:before {
        content: "·";
        font-size: 20px;
        left: 0;
        color: #fff;
        display: inline-block;
        padding-right: 5px;
    }

    .footer-distributed .footer-links .link-1:before {
        content: none;
    }

    .footer-distributed .footer-right {
        float: right;
        margin-top: 6px;
        max-width: 180px;
    }

        .footer-distributed .footer-right a {
            display: inline-block;
            width: 35px;
            height: 35px;
            background-color: #0011ff;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-left: 3px;
            transition: all .25s;
        }


    .footer-distributed p.footer-links a:hover {
        text-decoration: underline;
    }

/* Media Queries */

@media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
        text-align: center;
    }

    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}
.td-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    color: blue;
}

#answer-input{
    display: none;
}

.item {
    text-decoration: none;
    color: white;
}
