@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body>
      <div class="container">
          <h1>Login</h1>
        <p>Please fill in your details.</p>
        <hr />

        <label asp-for="LoginForm.Email">Email*</label>
        <input asp-for="LoginForm.Email" />

        <label asp-for="LoginForm.Password">Password*</label>
        <input asp-for="LoginForm.Password" />

        <hr />
        <div style="text-align:center;">
        <input type="submit" class="loginbtn">Login</input>
      </div>

      <div class="container register">
        <p>Don't have an account? <a asp-area="" asp-page="/Register">Register</a>.</p>
      </div>
      <div>
  </body>

